<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeoSurf</title>
    <link rel="stylesheet" href="./geosurf.css">
</head>
<body>
    <nav>
        <ul class="navlist">
            <a class="about" href="/" >home</a>
            <a class="product" href="/#products">projects</a>
            <a class="service" href="/#services">services</a>
            <a class="orders" href="/.order" >enquire</a>
        </ul>
        </nav>

<div class="mainContainer">
    <div class="infomation">
     <div class="head">
        <h1>Geosurf</h1>
        <p>(<a target="_blank" href="https://geosurf.com.au/">https://geosurf.com.au/</a>)</p>
     </div>

     <div class="content">
        <div class="whatisit">
            <h3>about</h3>
             <p>Geosurf is a specialized geographic data application, designed for the detailed exploration of Australia's surf breaks. It integrates the Google Maps API, enabling an interactive map functionality that caters to precise search and filtering needs. The platform offers in-depth surf break profiles, which include essential environmental data like wind directions and tidal information. These profiles are efficiently processed and condensed by OpenAI's GPT technology, ensuring technical accuracy and readability. Additionally, Geosurf incorporates a social networking feature, allowing user-generated content such as photos, ratings, and comments. This blend of technical sophistication and user engagement makes Geosurf a valuable tool for surf enthusiasts and a compelling project for potential employers and clients in the tech and recreational industries.</p>
        </div>
      
        <div class="skills">
            <h3>skills</h3>
             <p>Geosurf combines diverse technologies and skills for its development. It employs a cloud-based PostgreSQL database for data handling and AWS for user photo storage. Key integrations include Google Maps and Places APIs for mapping, and OpenAI's GPT for summarizing surf break information. The design emphasizes cross-device usability, achieved through advanced CSS techniques, ensuring a smooth user experience.</p>
        </div>
     </div>

  

     <div class="techstack">
        <h3>tech stack</h3>
        <div class="techcards">
            <div class="techcard">Node.js</div>
            <div class="techcard">JavaScript</div>
            <div class="techcard">Express</div>
            <div class="techcard">PostgreSQL</div>
            <div class="techcard">EJS</div>
            <div class="techcard">Google Maps</div>
            <div class="techcard">OpenAI</div>
            <div class="techcard">AWS Cloud</div>
            <div class="techcard">Railway</div>
        </div>
     </div>



    </div>
    <div class="images">
        <div class="imagecontainer"><img src="/geomap.png" alt=""></div>
        <div class="imagecontainer"><img src="/geomap2.png" alt=""></div>
        <div class="imagecontainer"><img src="/geomap3.png" alt=""></div>
        <div class="imagecontainer"><img src="/anothergeo.png" alt=""></div>

    </div>
</div>
    
</body>
</html>