<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Property Link</title>
    <link rel="stylesheet" href="./geosurf.css">
</head>
<body>
    <nav>
        <ul class="navlist">
            <a class="about" href="/" >home</a>
            <a class="product" href="/#products">projects</a>
            <a class="service" href="/#services">services</a>
            <a class="orders" href="/.order" >enquire</a>
        </ul>
        </nav>

<div class="mainContainer">
    <div class="infomation">
     <div class="head">
        <h1 class="propertylink">Property Link</h1>
        <p class="propertylinked">(propertylink.com.au)</p>
     </div>

     <div class="content">
        <div class="whatisit">
            <h3>about</h3>
             <p>Property Link emerged as a response to Australia's service marketplace, characterized by platforms imposing excessive fees. It's designed as a specialized gardener/landscaping marketplace and advertising network. Targeting tech-averse professionals in these sectors, it offers a hassle-free account setup, requiring no regular updates or tracking, in exchange for a fixed monthly fee. This fee funds platform maintenance and promotes user accounts to prospective clients. The platform operates on a geolocation principle, automatically prioritizing nearest gardeners to a client's entered address. Additional filtering options include experience, skills, and rates, among others.</p>
        </div>
      
        <div class="skills">
            <h3>skills</h3>
             <p>
                Property Link integrates various technologies for its robust operation. It uses a cloud-based PostgreSQL database for data management and Amazon Web Services (AWS) for secure photo storage. The platform ensures user verification, streamlined account creation, and editing, with a focus on security through encrypted passwords. Additionally, it incorporates integrated Google Maps for enhanced user experience and location services.
            </p>
        </div>
     </div>

     <div class="techstack">
        <h3>tech stack</h3>
        <div class="techcards">
            <div class="techcard">Node.js</div>
            <div class="techcard">Javascript</div>
            <div class="techcard">Express</div>
            <div class="techcard">Railway</div>
            <div class="techcard">PostgreSQL</div>
            <div class="techcard">AWS Cloud</div>
            <div class="techcard">Google Maps</div>
        </div>
     </div>



    </div>
    <div class="images">
        <div class="imagecontainer"><img src="/propertylnke.png" alt=""></div>
        <div class="imagecontainer"><img src="/propertylinked4.png" alt=""></div>
    </div>
</div>
    
</body>
</html>