<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Property Link</title>
    <link rel="stylesheet" href="./geosurf.css">
</head>
<body>
    <nav>
        <ul class="navlist">
            <a class="about" href="/" >home</a>
            <a class="product" href="/#products">projects</a>
            <a class="service" href="/#services">services</a>
            <a class="orders" href="/.order" >enquire</a>
        </ul>
        </nav>

<div class="mainContainer">
    <div class="infomation">
     <div class="head">
        <h1 class="propertylink">Property Link</h1>
        <p class="propertylinked">(propertylink.com.au)</p>
     </div>

     <div class="content">
        <div class="whatisit">
            <h3>about</h3>
             <p>GeoSurf is a versatile resource, empowering both local surfers and traveler's to explore and navigate Australia's diverse coastlines. By utilising satellite imagery and advanced filters, GeoSurf facilitates the discovery of ideal surf spots, perfectly aligning with your preferences and prevailing conditions – from wind and wave direction to tide and seafloor details, and more. As an evolving platform, GeoSurf aims to continuously introduce new features, including user-generated content, expanded filtration options, and coverage of more regions across Australia.</p>
        </div>
      
        <div class="skills">
            <h3>skills</h3>
             <p>GeoSurf is a versatile resource, empowering both local surfers and traveler's to explore and navigate Australia's diverse coastlines. By utilising satellite imagery and advanced filters, GeoSurf facilitates the discovery of ideal surf spots, perfectly aligning with your preferences and prevailing conditions – from wind and wave direction to tide and seafloor details, and more. As an evolving platform, GeoSurf aims to continuously intr</p>
        </div>
     </div>

     <div class="techstack">
        <h3>tech stack</h3>
        <div class="techcards">
            <div class="techcard">node.js</div>
            <div class="techcard">node.js</div>
            <div class="techcard">express</div>
            <div class="techcard">railway</div>
            <div class="techcard">aws cloud</div>
            <div class="techcard">postgres</div>
        </div>
     </div>



    </div>
    <div class="images">
        <div class="imagecontainer"><img src="/image11.png" alt=""></div>
        <div class="imagecontainer"><img src="/image3.png" alt=""></div>
        <div class="imagecontainer"><img src="/image10.png" alt=""></div>
        <div class="imagecontainer"><img src="/image41.png" alt=""></div>
        <div class="imagecontainer"><img src="/image7.png" alt=""></div>
        <div class="imagecontainer"><img src="/image5.png" alt=""></div>
    </div>
</div>
    
</body>
</html>