<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sent</title>
    <link rel="stylesheet" href="sent.css">
</head>
<body>
    <nav>
        <ul class="navlist">
            <a class="home" href="/index.html" >home</a>
        </ul>
        </nav>
        <div class="kont">
        <div class="message"><%= message %></div>
        </div>
</body>
</html>